<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <%= image_tag "logo.png", class: "img-responsive" %>
                <div class="intro-text">
                    <span class="name">DevAraraquara</span>
                    <hr class="star-light">
                    <span class="skills">Sua comunidade de engenharia de software em Araraquara</span>
                </div>
            </div>
        </div>
    </div>
</header>
